<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="test" connectionString="Data Source=FX007119M\SQLEXPRESS;Database=reactiveetl;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="OMEGA_PROD" connectionString="Data Source=WINPRODFGA\Q1;Initial Catalog=OMEGA;Persist Security Info=True;User ID=OMEGA_LEC;Password=OMEGA_LEC2011;Type System Version= 'SQL Server 2005'" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- la base de DEV permet la création du model-->
    <add name="DEV" providerName="System.Data.SqlClient" connectionString="server = FX026132M\SQLEXPRESS ; database = FGA_DATAMODEL ; Integrated Security = true  " />
    <!-- impossible de creer le data model sur la PROD-->
    <add name="STAGE" providerName="System.Data.SqlClient" connectionString="server = MEPAPP042_R ; database = E2DBFGA01 ; uid=E2FGATP ; pwd = E2FGATP25" />
    <add name="PREPROD" providerName="System.Data.SqlClient" connectionString="server = VWI1BDD002 ; database = E1DBFGA01 ; uid=e1fgatp ; pwd = e1fgatp02" />
    <add name="PROD" providerName="System.Data.SqlClient" connectionString="server = VWI0BDD006 ; database = E0DBFGA01 ; uid=e0fgatp ; pwd = e0fgatp06" />
    <!--add name="test" connectionString="Data Source=localhost;Database=reactiveetl;Integrated Security=true;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="input" connectionString="Data Source=localhost;Database=AdventureWorksDW;Integrated Security=true;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="advwrk" connectionString="Data Source=localhost;Database=AdventureWorksDW;Integrated Security=true;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add name="output" connectionString="Data Source=localhost;Database=McnCommerceTests;Integrated Security=true;" providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /-->
  </connectionStrings>
 
 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>